<!DOCTYPE html>
<html>
<head>
    <title>Digital Factory - Cooler Master G800 800W</title>
    <link rel="stylesheet" href="../../css/Components/Components1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-image: url(../../Img/Background2.png); background-size: 1370px;text-align: center;">

   <header class="header">
     <div class="header-container">
       <div class="logo">
         <a href="../../Home.html">
           <img src="../../Img/LOGO.png" alt="Digital Factory Logo">
         </a>
       </div>
       <ul class="nav-menu">
         <li>
             <a href="../../Home.html"><i class="fa-solid fa-house"></i> Home</a>
         </li>
         <li>
             <a href="../../Desktops.html"><i class="fa-solid fa-computer"></i> PCs</a>
         </li>
         <li>
             <a href="../../Components.html"><i class="fa-sharp fa-solid fa-memory"></i> Components</a>
         </li>
         <li>
             <a href="../../Accessories.html"><i class="fa-regular fa-keyboard"></i> Accessories</a>
         </li>
         <li>
             <a href="../../SpecialOffers.html"><i class="fa-solid fa-tags"></i> Special Offers</a>
         </li>
         <li>
             <a href="../../ContactUs.html"><i class="fa-solid fa-envelope"></i> Contact Us</a>
         </li>
         <li>
             <a class="Desktops1" href="../../Login.html"><i class="fa-regular fa-user"></i> Login</a>
         </li>
       </ul>
     </div>
   </header>

    <br><br>

    <div class="product-detail">
        <div class="product-image">
            <img src="../../Img/PSU2.png" alt="Cooler Master G800 800W">
        </div>
        <div class="product-info">
            <h1>Cooler Master G800 800W</h1>
            <p class="price">$44.99</p>
            <p class="availability"><ins>In Stock</ins></p>
            <a href="../../Pages/Checkout.html" class="ComponentsBTN">Checkout</a>
        </div>
    </div>

    <br>

    <table class="specs-table">
        <thead>
            <tr>
                <th colspan="2" style="text-align: left;">Power Supply Specifications</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Output Capacity</td>
                <td>800Watt</td>
            </tr>
            <tr>
                <td>Dimension (W x L x H)</td>
                <td>140 x 150 x 86 mm</td>
            </tr>
            <tr>
                <td>Certifications</td>
                <td>80 PLUS GOLD</td>
            </tr>
            <tr>
                <td>Connector</td>
                <td>1 x 24 pin ATX<br>1 x 8 pin (4+4) EPS (CPU)<br>1 x 8 pin CPU<br>4 x 8 pin (6+2) SATA<br>3 x 4 pin Peripheral</td>
            </tr>
            <tr>
                <td>Warranty</td>
                <td>1 Year</td>
            </tr>
        </tbody>
    </table>

    <br>

    <div class="product-detail">
        <div class="Components2">
            <img src="../../Img/GPU1.png" alt="PNY RTX 4070 SUPER">
            <div class="specs">
                <p>PNY GeForce RTX 4070 SUPER 12GB<br>GDDR6X, 192-bit</p>
            </div>
            <div class="price">$579.99</div>
            <a href="../../Pages/Components/Components3.html" class="ComponentsBTN">View Product</a>
        </div>

        <div class="Components2">
            <img src="../../Img/HDD1.png" alt="Western Digital Blue HDD 1TB">
            <div class="specs">
                <p>Western Digital Blue HDD 1TB<br>7200 RPM, 64MB Cache</p>
            </div>
            <div class="price">$44.99</div>
            <a href="../../Pages/Components/Components12.html" class="ComponentsBTN">View Product</a>
        </div>

        <div class="Components2">
            <img src="../../Img/CPU1.png" alt="AMD RYZEN 7 7700">
            <div class="specs">
                <p>AMD RYZEN 7 7700<br>8 Cores, 16 Threads<br>Up to 5.3GHz</p>
            </div>
            <div class="price">$229.99</div>
            <a href="../../Pages/Components/Components1.html" class="ComponentsBTN">View Product</a>
        </div>
    </div>

    <br><br>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>Contact</h3>
                <p><a href="https://maps.google.com/?q=Amman,Jordan" target="_blank">Jordan, Amman</a></p>
                <p><a href="tel:+962782796792">📞 +962 78 865 9697</a></p>
                <p><a href="mailto:elyasghanim@gmail.com">✉️ elyasghanim@gmail.com</a></p>
            </div>
            <div class="footer-section">
                <h3>Categories</h3>
                <a href="Home.html">Home</a>
                <a href="Desktops.html">PCs</a>
                <a href="Components.html">Components</a>
                <a href="Accessories.html">Accessories</a>
                <a href="SpecialOffers.html">Special Offers</a>
                <a href="ContactUs.html">Contact Us</a>
                <a href="Login.html">Login</a>
            </div>
            <div class="footer-section">
                <h3>Follow Us</h3>
                <a href="https://linkedin.com/in/elyasghanim">Linkedin</a>
                <a href="https://github.com/TOP-ELYAS">GitHub</a>
                <a href="https://www.facebook.com/elyas.ghanim">Facebook</a>
                <a href="https://www.instagram.com/top_elyas">Instagram</a>
                <a href="https://www.snapchat.com/@top_elyas">Snapchat</a>
            </div>
        </div>
    </footer>

</body>
</html>