<!DOCTYPE html>
<html>
<head>
    <title>Digital Factory - Thermalright Platinum 1000W</title>
    <link rel="stylesheet" href="../../Css/Components/Components1.CSS">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-image: url(../../Img/Background2.png); background-size: 1370px;text-align: center;">

   <header class="header">
     <div class="header-container">
       <div class="logo">
         <a href="../../index.html">
           <img src="../../Img/LOGO.png" alt="Digital Factory Logo">
         </a>
       </div>
       <ul class="nav-menu">
         <li>
             <a href="../../index.html"><i class="fa-solid fa-house"></i> Home</a>
         </li>
         <li>
             <a href="../../Desktops.html"><i class="fa-solid fa-computer"></i> PCs</a>
         </li>
         <li>
             <a href="../../Components.html"><i class="fa-sharp fa-solid fa-memory"></i> Components</a>
         </li>
         <li>
             <a href="../../Accessories.html"><i class="fa-regular fa-keyboard"></i> Accessories</a>
         </li>
         <li>
             <a href="../../SpecialOffers.html"><i class="fa-solid fa-tags"></i> Special Offers</a>
         </li>
         <li>
             <a href="../../ContactUs.html"><i class="fa-solid fa-envelope"></i> Contact Us</a>
         </li>
         <li>
             <a class="Desktops1" href="../../Login.html"><i class="fa-regular fa-user"></i> Login</a>
         </li>
       </ul>
     </div>
   </header>

    <br><br>

    <div class="product-detail">
        <div class="product-image">
            <img src="../../Img/PSU1.png" alt="Thermalright Platinum 1000W">
        </div>
        <div class="product-info">
            <h1>Thermalright Platinum 1000W</h1>
            <p class="price">$149.99</p>
            <p class="availability"><ins>In Stock</ins></p>
            <a href="../../Pages/Checkout.html" class="ComponentsBTN">Checkout</a>
        </div>
    </div>

    <br>

    <table class="specs-table">
        <thead>
            <tr>
                <th colspan="2" style="text-align: left;">Power Supply Specifications</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Output Capacity</td>
                <td>1000Watt</td>
            </tr>
            <tr>
                <td>Dimension (W x L x H)</td>
                <td>L150 mm x W140 mm x H86 mm±1 mm</td>
            </tr>
            <tr>
                <td>Certifications</td>
                <td>80 PLUS PLATINUM</td>
            </tr>
            <tr>
                <td>Connector</td>
                <td>X1M/B TYPE MB 20+4 PIN 600MM<br>X2CPU TYPE CPU 4+4 PIN 650MM<br>X3PCI-E TYPE PCI-E 6+2 PIN 150MM<br>X112VHPWR TYPE PCI-E 5.0 12+4 PIN 600MM<br>X2SATA TYPE 3+3 PIN 450MM+150MM+150MM+150MM<br>X1PATA TYPE 4PIN 500MM+150MM+150MM<br>X1PATA+SATA TYPE 450MM+150MM+150MM+150MM</td>
            </tr>
            <tr>
                <td>Warranty</td>
                <td>1 Year</td>
            </tr>
        </tbody>
    </table>

    <br>

    <div class="product-detail">
        <div class="Components2">
            <img src="../../Img/MB1.png" alt="ASUS PRIME B450M-K">
            <div class="specs">
                <p>ASUS PRIME B450M-K<br>AM4, DDR4, mATX</p>
            </div>
            <div class="price">$69.99</div>
            <a href="../../Pages/Components/Components5.html" class="ComponentsBTN">View Product</a>
        </div>

        <div class="Components2">
            <img src="../../Img/CPU1.png" alt="AMD RYZEN 7 7700">
            <div class="specs">
                <p>AMD RYZEN 7 7700<br>8 Cores, 16 Threads<br>Up to 5.3GHz</p>
            </div>
            <div class="price">$229.99</div>
            <a href="../../Pages/Components/Components1.html" class="ComponentsBTN">View Product</a>
        </div>

        <div class="Components2">
            <img src="../../Img/RAM1.png" alt="Lexar DDR4 8GB">
            <div class="specs">
                <p>Lexar DDR4 Single 8GB 3200MHz<br>8GB 3200MHz</p>
            </div>
            <div class="price">$24.99</div>
            <a href="../../Pages/Components/Components7.html" class="ComponentsBTN">View Product</a>
        </div>
    </div>

    <br><br>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>Contact</h3>
                <p><a href="https://maps.google.com/?q=Amman,Jordan" target="_blank">Jordan, Amman</a></p>
                <p><a href="tel:+962782796792">📞 +962 78 865 9697</a></p>
                <p><a href="mailto:elyasghanim@gmail.com">✉️ elyasghanim@gmail.com</a></p>
            </div>
            <div class="footer-section">
                <h3>Categories</h3>
                <a href="../../index.html">Home</a>
                <a href="../../Desktops.html">PCs</a>
                <a href="../../Components.html">Components</a>
                <a href="../../Accessories.html">Accessories</a>
                <a href="../../SpecialOffers.html">Special Offers</a>
                <a href="../../ContactUs.html">Contact Us</a>
                <a href="../../Login.html">Login</a>
            </div>
            <div class="footer-section">
                <h3>Follow Us</h3>
                <a href="https://linkedin.com/in/elyasghanim">Linkedin</a>
                <a href="https://github.com/TOP-ELYAS">GitHub</a>
                <a href="https://www.facebook.com/elyas.ghanim">Facebook</a>
                <a href="https://www.instagram.com/top_elyas">Instagram</a>
                <a href="https://www.snapchat.com/@top_elyas">Snapchat</a>
            </div>
        </div>
    </footer>

</body>
</html>